:root{
    --bg-col : #F0F6FF;
    --white : #FFFFFF;
    --title-col : #0B3051;
    --link-col : #5D7285;
    --link-sec: #238899;
}

body{
    height: 100vh;
    overflow-y: hidden;
}

.login{
    display: flex;
    align-items: start;
    height: 100vh;
    gap: 5rem;
}

.login-container{
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 20vh;
    gap: 2rem;
}


input{
    width: 400px;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid var(--title-col);
    background-color: transparent;
}

input:focus{
    outline: none;
}


form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link{
    text-decoration: none;
    color: var(--link-sec);
    font-weight: 700;
}

button{
    width: 430px;
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: #23879943;
    border: none;
    color: var(--link-sec);
    font-weight: 700;
}

.background-rectangle{
    position: absolute;
    bottom: 0;
    right: 0;
}

.oops-img{
    height: 100%;
    display: flex;
    align-items: center;
}